@font-face {
    font-family: PTSans;
    src: url(../fonts/PTSans-Regular.eot);
    src: url(../fonts/PTSans-Regular.eot?#iefix) format('embedded-opentype'),url(../fonts/PTSans-Regular.woff) format('woff'),url(../fonts/PTSans-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal
}

@import url("https://wormatefriendsturkey.com/css/font.css");
@import "https://fonts.googleapis.com/css2?family=Quicksand&display=swap";
::-webkit-scrollbar{display:none}*
body,html{background-color:#333;height:100%;width:100%;min-width:320px;min-height:320px;padding:0;margin:0;overflow:hidden;font-family: vuonghiep;}

body {font-family: vuonghiep; }



  .wssServer {
    position: absolute;
    color: white;
    top: 89%;
    left: 20px;
  }
  #startBotsButton {
    position: absolute;
    top: 80%;
    left: 20px;
  }
  #stopBotsButton  {
    position: absolute;
    top: 85%;
    left: 20px;
  }
 /* Estilo general para el contenedor de la lista de usuarios */
#user-list {
  position: fixed; /* Fija el contenedor a la pantalla */
  top: 50%; /* Centra verticalmente */
  right: 20px; /* Espacio desde el lado derecho */
  transform: translateY(-50%); /* Ajuste para centrar */
  background-color: transparent; /* Fondo blanco semi-transparente */
  border: 1px solid #ccc; /* Borde gris claro */
  border-radius: 8px; /* Bordes redondeados */
  padding: 15px; /* Espaciado interno */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  max-width: 150px;
  max-height: 80%; /* Limita la altura mÃƒÂ¡xima */
  overflow-y: auto; /* Agrega barra de desplazamiento si es necesario */
}

/* Estilo para cada usuario en la lista */
#user-list > div {
  margin-bottom: 10px; /* Espaciado entre usuarios */
  padding: 10px; /* Espaciado interno */
  border: 1px solid #ddd; /* Borde mÃƒÂ¡s oscuro */
  
  border-radius: 5px; /* Bordes ligeramente redondeados */
  background-color: transparent; /* Fondo gris claro */
  color: white;
  transition: background-color 0.3s; /* TransiciÃƒÂ³n suave para cambios de fondo */
}

/* Cambia el fondo al pasar el mouse sobre un usuario */
#user-list > div:hover {
  background-color: transparent; /* Fondo azul claro en hover */
  color: white;
}

/* Estilo para los power-ups */
#user-list img {
  margin-right: 5px; /* Espacio entre la imagen y el texto */
  vertical-align: middle; /* Alinea verticalmente la imagen con el texto */
}

/* Estilo para el texto */
#user-list div div {
  font-size: 14px; /* TamaÃƒÂ±o de fuente para el texto de power-ups */
  color: #fff; /* Color de texto oscuro */
}

  #chatInput {
    display: none;
    color: #fff;
    background: transparent;
    position: fixed;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    outline: none;
  }

  #teamCodeInput {
    width: 40%;
  }
  #colorPicker {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    padding: 0;
  }
  #loa831pibur0w4gv .settings-line {
      display: flex;
      flex-direction: row;
      align-items: center;
  }

  #loading-progress-cont {
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, 0.5);
    outline-offset: 0px;
    background-color: transparent !important;
  }
  #store-go-wear-button{
   left: 450px !important;
  }
  #loading-progress-bar {
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, 0.5);
    outline-offset: 0px;
    background-color: #615d5d !important;
  }
  /* Estilo para la barra que contiene los iconos */
  .settings-icons {
    text-align: center; /* Alinear los iconos a la derecha */
    background-color: transparent; /* Color de fondo */
    border-bottom: 1px solid #ccc; /* Borde inferior */
  }
  
  /* Estilo para las secciones */
  .settings-section {
    display: none; /* Por defecto, ocultar las secciones */
    animation: fadeEffect 0.5s; /* AnimaciÃƒÂ³n de fade */
  }
  #user-icon,
  #hotkeys-icon {
   width: 20%;
   cursor: pointer;
  }
  /* AnimaciÃƒÂ³n de fade */
  @keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
  }
  /* Estilo para el contenedor de los inputs */
  #key-settings {
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 30px auto;
    /*  width: 300px; /* Ajusta el ancho segÃƒÂºn sea necesario */
  }
  #loa831pibur0w4gv {
    overflow: auto !important;
  }
  /* Estilo para las etiquetas de los inputs */
  #key-settings label {
    display: inline-block;
    width: 100px; /* Ajusta el ancho segÃƒÂºn sea necesario */
    margin-bottom: 10px;
  }
  
  /* Estilo para los inputs */
  #key-settings input {
    width: 150px; /* Ajusta el ancho segÃƒÂºn sea necesario */
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
  }
  
  /* Estilo para los inputs cuando estÃƒÂ¡n enfocados */
  #key-settings input:focus {
    outline: none;
    border-color: #007bff; /* Cambia el color del borde cuando el input estÃƒÂ¡ enfocado */
  }
  
  .key-input {
    text-align: center;
    width: 10%;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    text-shadow: -2px 0px 4px #fff;
    border-radius: 5px;
  }
  .icon-selector {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    background-color: var(--inputBg);
    background-color: rgb(40, 44, 52);
    background-color: var(--menuPanelColor2);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    overflow: auto;
    padding: 5px;
    margin: 2px;
  }
  .cursor-box {
    aspect-ratio: 1 / 1;
    border-radius: 10px;
    height: 35px;
    padding: 0.1em;
  }
  .active {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5),
        0 0 20px rgba(255, 255, 255, 0.2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
  }
  .icon-selector img {
    aspect-ratio: 1/1;
    width: 100%;
    position: relative;
    left: 4px;
  }
  .material-icons {
    font-family: 'Material Icons' !important;
  }
  #mm-wtr-discord {
    border: none !important;
  }
  .mdi--discord {
    display: inline-block;
    width: 4em;
    height: 2.5em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m22 24l-5.25-5l.63 2H4.5A2.5 2.5 0 0 1 2 18.5v-15A2.5 2.5 0 0 1 4.5 1h15A2.5 2.5 0 0 1 22 3.5V24M12 6.8c-2.68 0-4.56 1.15-4.56 1.15c1.03-.92 2.83-1.45 2.83-1.45l-.17-.17c-1.69.03-3.22 1.2-3.22 1.2c-1.72 3.59-1.61 6.69-1.61 6.69c1.4 1.81 3.48 1.68 3.48 1.68l.71-.9c-1.25-.27-2.04-1.38-2.04-1.38S9.3 14.9 12 14.9s4.58-1.28 4.58-1.28s-.79 1.11-2.04 1.38l.71.9s2.08.13 3.48-1.68c0 0 .11-3.1-1.61-6.69c0 0-1.53-1.17-3.22-1.2l-.17.17s1.8.53 2.83 1.45c0 0-1.88-1.15-4.56-1.15m-2.07 3.79c.65 0 1.18.57 1.17 1.27c0 .69-.52 1.27-1.17 1.27c-.64 0-1.16-.58-1.16-1.27c0-.7.51-1.27 1.16-1.27m4.17 0c.65 0 1.17.57 1.17 1.27c0 .69-.52 1.27-1.17 1.27c-.64 0-1.16-.58-1.16-1.27c0-.7.51-1.27 1.16-1.27Z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }
  #social-buttons {
    display: none !important;
  }
  .toast-message div a {
    position: fixed;
    margin-top: 15px;
  }
  .streamer-logo {
    max-width: 50px;
    border-radius: 50%;
    margin-right: 10px; /* Espacio a la derecha de la imagen */
    animation: aura 2s infinite;
    border: 2px solid red;
  }
  .toast { 
    background-color: transparent !important;
  }
  .toast-progress {
    background-color: #fff !important;
  }
  @keyframes aura {
    0% {
        box-shadow: 0 0 5px 5px rgba(255, 0, 0, 0.5);
    }
    50% {
        box-shadow: 0 0 15px 15px rgba(255, 0, 0, 0.3);
    }
    100% {
        box-shadow: 0 0 5px 5px rgba(255, 0, 0, 0.5);
    }
  }
  
  /* Estilos para el indicador de estado */
  .status-indicator {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: fixed;
    display: inline-block;
    margin-right: 5px;
    margin-top: 30px;
    margin-left: 30px;
  }
  
  /* Estilos para el indicador de estado - online (rojo) */
  .status-indicator.online {
    background-color: #ff0000; /* Rojo */
  }
  
  /* Estilos para el indicador de estado - offline (negro) */
  .status-indicator.offline {
    background-color: #000000; /* Negro */
  }
  .hrflgCparation {
    position: relative !important;
    color: rgba(255, 255, 255, 0.5) !important;
    background-color: rgba(255, 255, 255, 0.5) !important;
    border-style: dotted;
    box-shadow: 0px 0 3px 0px rgba(255, 255, 255, 0.5) !important;
  }
  .display_setting {
    display: flex;
    flex-direction: column;
  }
  #user_config {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #000000;
  }
  #settings-container2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 480px;
    height: 360px;
    background: #22222285;
    color: #fff;
    box-shadow: -4px 3px 10px 9px rgb(255 255 255 / 10%);
    border-radius: 8px;
    overflow: auto;
    display: none;
  }
  
  #clossed_Setings {
      position: absolute;
      top: 10px;
      right: 10px;
      background: #ff5c5c;
      color: #fff;
      border: none;
      padding: 5px 10px;
      border-radius: 50%;
      cursor: pointer;
      font-size: 16px;
  }
  
  .container {
      margin-bottom: 15px;
  }
  
  .names_settings {
      display: block;
      margin-bottom: 5px;
  }
  
  .range {
      width: 100%;
  }
  
  .settings-checkbox {
      margin-bottom: 10px;
      display: flex;
  }
  
  #titleSetings {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 20px;
      text-align: center;
  }
  
  #display_color .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 15px;
  }
  
  #display_color input[type="color"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    padding: 0;
  }
  
  input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
    border-radius: 50%;
  }
  
  input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
  }
  
  input[type="color"]::-moz-color-swatch {
    border: none;
    border-radius: 50%;
  }
  
  #titleSetings {
    font-size: 1.5em; /* Aumenta el tamaÃƒÂ±o del texto */
    padding: 8px 12px; /* Aumenta el espacio interior */
    border-radius: 8px; /* Aumenta el radio del borde para hacerlo mÃƒÂ¡s suave */
    text-align: center; /* Centra el texto horizontalmente */
    font-weight: bold; /* Hace que el texto sea mÃƒÂ¡s fuerte */
    color: #fff; /* Cambia el color del texto a blanco */
  }
  
  #clossed_Setings:hover {
    background-color: #555; /* Cambia el color de fondo al pasar el ratÃƒÂ³n */
  }
  #fullscreen:hover,
  #wtrplayagain:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5),
        0 0 20px rgba(255, 255, 255, 0.2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
  }
  
  
  #unl6wj4czdl84o9b,
  #final-share-fb {
    display: none !important;
  }
  /*#game-wrap,
  #results-view {
    background-image: url(https://i.imgur.com/w0fjSiG.png);
    background-repeat: no-repeat;
    background-size: cover;
    animation: zoomIn 5s infinite; 
  }*/
  #background-canvas {
  background-image: url(https://imgur.com/pWLFzxg);
    background-repeat: no-repeat;
    background-size: cover;
    animation: zoomInOut 15s linear infinite forwards; /* La animaciÃƒÂ³n se repetirÃƒÂ¡ indefinidamente */
  }
  /* Definimos la animaciÃƒÂ³n de zoom */
  @keyframes zoomInOut {
    0% {
      transform: scale(1); /* Estado inicial */
    }
    50% {
      transform: scale(1.5); /* Escala mÃƒÂ¡xima en la mitad de la animaciÃƒÂ³n */
    }
    100% {
      transform: scale(1); /* Regreso gradual al estado original */
    }
  }
  .logo-server {
    width: 100%;
    height: 40px;
    border: none;
    outline: 0;
    -o-object-fit: contain;
    object-fit: contain;
    margin: 0;
    display: block;
  }
  #congrats-wrap{
    height: calc(100% - 100px) !important;
  }
  #final-caption,
  #final-continue {
    background-color: #4e4d49 !important;
  }
  #congrats {
    background-color: transparent !important;
  }

  #loa831pibur0w4gv,
  .description-text,
  #congrats {
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    background: transparent;
    color: #fff;
  }
  #loa831pibur0w4gv {
    height: 0px !important;
    margin: 0px 35px !important;
    width: 0px !important;
  }
  .description-text {
    height: 277px !important;
    margin: 20px 23px !important;
    width: 194px !important;
  }

  #mm-wtr-settings,
  #mm-store {
    background-color: #26c6da;
    color: #fff;
    overflow: hidden;
    height: 50px;
    line-height: 50px;
    font-size: 30px;
    padding: 0 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 0;
    outline: 0;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);
    text-align: center;
    text-shadow: 0 0 1px #000;
    cursor: pointer;
    transition: background-color .5s ease;
    min-width: 120px;
    display: inline-block;
    margin-right: 20px;
  }
  #mm-line-bottom {
    width: 100% !important;
    height: 1% !important;
    position: absolute;
    top: 85% !important;
    box-sizing: border-box;
    left: 18% !important;
  }
  #mm-bottom-buttons {
    display: flex !important;
    width: 56.2% !important;
  }
  #mm-settings {
    border-bottom-left-radius: 20px !important;
    border-start-start-radius: 20px !important;
  }
  #mm-player-info {
    border-bottom-left-radius: 25px !important;
    border-start-start-radius: 25px !important;
  }
  #mm-player-username{
    text-align: center;
  }
  #mm-wtr-settings {
    border-end-end-radius: 20px !important;
    border-start-end-radius: 20px !important;
  }

  #mm-params-nickname {
    border: 1px solid white !important;
    color: #000000 !important;
  }
  #mm-params-game-mode {
    background: transparent !important;
    border: 1px solid white !important;
    color: white !important;
  }
  #store-go-wear-button {
    left: 20px !important;
  }
  #mm-settings:hover,
  #mm-leaders:hover,
  #mm-store:hover,
  #mm-wtr-settings:hover,
  #mm-action-play:hover
  .stretch-container:hover {
    border: 1px solid !important;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5),
        0 0 20px rgba(255, 255, 255, 0.2);
    outline-color: rgba(255, 255, 255, 0) !important;
    outline-offset: 15px !important;
    text-shadow: 1px 1px 2px #427388 !important;
  }
  .conteiner p{
    cursor: pointer;
  }
  .conteiner {
    display: grid;
    grid-template-columns: 1fr 30px;
    line-height: 28px;
  }
  .selectSala {
    cursor: pointer;
    line-height: 25px;
  }

  #game-wrap #game-cont #stretch-box #main-menu-view #mm-line-center .column-left .description-text * {
    font-size: 10px !important;
  }
  .selectSala{
    padding: 1px;
    
    align-items: stretch;
    justify-content: space-around;
    align-content: space-around;
    flex-direction: row;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    justify-content: flex-start;
    font-weight: 10 !important;
  }

  .worm_1 {
    position: absolute;
    width: 45px;
    left: 10px;
    top: 95%;
  }
  .Worm_cerca {
    padding: 0px 15px;
    position: absolute;
    display: block;
    border-radius: 10px;
    color: #FFF;
    text-align: center;
    top: 94.7%;
    left: 40px;
    user-select: none;
    text-decoration: none;
    font-weight: bold;
}
  #mm-skin-prev{
    background-image: url(https://i.imgur.com/ZJcVInR.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transform: rotate(180deg) !important;
  }
  #mm-skin-next{
    background-image: url(https://i.imgur.com/ZJcVInR.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  #mm-coins-buy{
    width: 70px !important;
    background-color: transparent !important;
    background-image: url(https://i.imgur.com/fv1MAb1.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  #mm-coins-box {
    width: 250px !important;
  }
  /*#mm-coins-val {
    display: inline-block;
    position: relative;
    left: -100%;
    opacity: 0;
    transition: left 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }*/
  
  #mm-coins-box {
    display: flex;
    align-items: center;
  }
  #mm-player-info{
    display: block !important;
  }
  #mm-coins-buy {
    margin-left: 50px !important; /* Ajustar segÃ¯Â¿Â½n sea necesario */
    width: 50px; /* Ajustar segÃ¯Â¿Â½n sea necesario */
    height: 50px; /* Ajustar segÃ¯Â¿Â½n sea necesario */
    background-color: #ccc; /* Ajustar segÃ¯Â¿Â½n sea necesario */
    cursor: pointer;
  }
  #mm-player-level{
    background: url(https://wormate.io/images/level-star.svg) !important;
    background-size: 80px !important;
    line-height: 80px !important;
    width: 78px !important;
    font-size: 18px !important;
  }
  #mm-player-avatar {
    border-radius: 25px !important;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5),
        0 0 20px rgb(215 24 24 / 20%);
    outline-color: rgba(255, 255, 255, 0) !important;
    outline-offset: 15px !important;
  }

  #mm-coins-val {
    text-align: end !important;
  }
#game-wrap #game-cont #stretch-box #main-menu-view #mm-line-bottom #mm-bottom-buttons #mm-settings {
    background-color: #26c6da;
    color: #fff;
    overflow: hidden;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 0;
    outline: 0;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
    text-align: center;
    text-shadow: 0 0 1px #000;
    cursor: pointer;
    transition: background-color .5s ease;
    min-width: 120px;
    display: inline-block;
    margin-right: 20px
}
#game-wrap #game-cont #stretch-box #main-menu-view #mm-line-bottom #mm-bottom-buttons #mm-settings {
    background-color: #26c6da;
    color: #fff;
    overflow: hidden;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 0;
    outline: 0;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
    text-align: center;
    text-shadow: 0 0 1px #000;
    cursor: pointer;
    transition: background-color .5s ease;
    min-width: 120px;
    display: inline-block;
    margin-right: 20px
}

#game-wrap #game-cont #stretch-box #main-menu-view #mm-line-bottom #mm-bottom-buttons #mm-settings {
    background-color: #26c6da;
    color: #fff;
    overflow: hidden;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 0;
    outline: 0;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
    text-align: center;
    text-shadow: 0 0 1px #000;
    cursor: pointer;
    transition: background-color .5s ease;
    min-width: 120px;
    display: inline-block;
    margin-right: 20px
}
  #mm-player-exp-bar {
    background-color: #f7941d !important;
  }
  #mm-player-exp-val {
    color: #6f6b64 !important;
  }
  .overlay-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      270deg,
      rgba(226, 224, 211, 0) 0%,
      rgba(0, 0, 0, 0.8687850140056023) 100%
    );
  }
  .overlay-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 250.625em;
    height: 23.8em;
    background: url(https://i.imgur.com/eEHJ2C9.png) 0 100%
      repeat-x;
    -webkit-animation: cloudLoop 80s linear infinite;
    animation: cloudLoop 80s linear infinite;
    z-index: 2;
    pointer-events: none;
    height: 43.75em;
  }
  @-webkit-keyframes cloudLoop {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    100% {
      -webkit-transform: translate3d(-50%, 0, 0);
      transform: translate3d(-50%, 0, 0);
    }
  }
  
  @keyframes cloudLoop {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    100% {
      -webkit-transform: translate3d(-50%, 0, 0);
      transform: translate3d(-50%, 0, 0);
    }
  }
  @keyframes fall {
    0% {
        transform: translate3d(10px, -200px, 10px);
        opacity: 1;
    }
    20% {
        transform: translate3d(8px, -170px, 10px) rotate(10deg);
    }
    40% {
        transform: translate3d(8px, -90px, 10px) rotate(-10deg);
    }
    60% {
        transform: translate3d(6px, -45px, 10px) rotate(10deg);
    }
    80% {
        transform: translate3d(4px, 10px, 10px) rotate(-10deg);
        opacity: 0.8;
    }
    100% {
        transform: translate3d(0px, 0px, 10px) rotate(0deg);
        opacity: 1;
    }
  }
  .mm-logo,
  .mm-event-cont{
    animation: fall 5s ease-in-out 1;
    animation-fill-mode: forwards;
  }
  /*@keyframes derechaizworm {
    0% {
        transform: translateX(-400%);
        opacity: 0;
    }
  
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
  }
  #mm-skin-canv{
    animation: derechaizworm 2s ease-in-out 1;
    animation-fill-mode: forwards;
  }*/
  
  @keyframes cambioSkinWorm {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    25% {
        transform: translateX(0%);
        opacity: 1;
    }
    75% {
        transform: translateX(0%);
        opacity: 1;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
  }
  @keyframes cambioSkinWorm2 {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    25% {
        transform: translateX(0%);
        opacity: 1;
    }
    75% {
        transform: translateX(0%);
        opacity: 1;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
  }
  .cambio-skin2 {
    animation: cambioSkinWorm2 1s ease-in-out forwards !important;
  }
  
  .cambio-skin {
    animation: cambioSkinWorm 1s ease-in-out forwards !important;
  }
  
  
  
  @keyframes derechaiz {
    0% {
        transform: translateY(200%);
        opacity: 0;
    }
  
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
  }
  .column-right,

  @keyframes izquierdade {
    0% {
        transform: translateY(200%);
        opacity: 0;
    }
  
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
  }
  .column-left,
  #mm-player-info,
  #mm-skin-prev {
    animation: izquierdade 2s ease-in-out 1;
    animation-fill-mode: forwards;
  }
  
  
  
  
  
  
  .single-card {
    position: relative;
    width: 300px;
    height: 300px;
    background: #010615;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
  }
  
  .single-card:hover {
    height: 400px;
  }
  
  .single-card::before,
  .single-card::after {
    content: "";
    background: linear-gradient(45deg, #ff05ac 0%, #ff05ac 18%, aqua 100%);
    position: absolute;
    inset: -2px;
    z-index: -1;
  }
  
  .single-card::after {
    filter: blur(40px);
    z-index: -2;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  .flag {
    display: inline-block;
    height: 32px;
    width: 32px;
    border-radius: 10px;
    margin: 2.5px;
    vertical-align: text-top;
    line-height: 32px;
    background: url(https://i.imgur.com/DiWX62Y.png) no-repeat;
    transition: transform 0.3s ease; /* Agrega una transiciÃƒÂ³n suave */
    opacity: 0.5;
  }
  .servers-container {
    position: fixed;
    height: 158px !important;
    width: 185px;
    overflow: auto;
    margin: 87px 0px !important;
  }
  .ui-tab-active .flag{
    opacity: 1;
  }
  .ui-tabs-tab .flag:hover {
    transform: scale(1.3); /* Aumenta el tamaÃƒÂ±o al 110% */
    opacity: 1;
  }
 
  .ui-tab-active {
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5),
        0 0 20px rgba(255, 255, 255, 0.2) !important;
    outline-color: rgba(255, 255, 255, 0) !important;
    outline-offset: 15px !important;
    border-radius: 10px;
  }
.ui-tabs-nav {
  justify-content: flex-start; /* BayraklarÄ± sola hizalar */
  gap: 1px; /* Bayraklar arasÄ±ndaki boÅŸluk (dikey ve yatay) */
  padding: 11px; /* Konteyner iÃ§ boÅŸluk */
  margin: -15px auto -99px -13px; /* Sol boÅŸluk azaltÄ±ldÄ± */
}





  .mx {
  background-position: 0px -106px;
  
  }
  .us {
  background-position: 0px -35px;
  }
  .ca {
  
  background-position: 0px -72px;
  }
  .de {
  background-position: 0px -141px;
  }
  .fr {
  background-position: 0px -177px;
  }
  .sg {
  background-position: 0px -212px;
  }
  .jp {
  background-position: 0px -247px;
  }
  .au {
  background-position: 0px -283px;
  }
  .gb {
  background-position: 0px -318px;
  }